.comment {
    margin-top: 8px;
    display: inline-block;
    width: 100%;
}

.comment .comment-modify {
    margin-top: 8px;
    padding: 8px 0px;
}

.comment-modify button {
    border: none;
    background-color: black;
    color: white;
}

.comment-modify input {
    border: none;
}

.comment .comment-body {
    float: left;
}

.comment .comment-body p {
    margin: 0px;
}

.comment .comment-author {
    display: flex;
    text-decoration: none;
}

.comment .comment-author .comment-info {
    padding-left: 6px;
}

.comment .comment-author .comment-author-pfp {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.comment .comment-author .comment-author-nick {
    color: black;
    font-size: 18px;
}

.comment .comment-author .comment-author-name {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
}

.comment .comment-text {
    font-size: 14px;
    padding: 4px 0px 8px 38px;
}

.comment-likes-count {
    display: inline-block;
    vertical-align: top;
    height: 16px;
    padding: 4px;
    text-decoration: none;
    color: black;
}

.comment-actions {
    float: right;
    margin-top: 10px;
}

.comment-actions button {
    border: none;
    background-color: white;
    color: black;
    width: 24px;
    height: 24px;
    padding: 0px;
}

.comment-actions .comment-action-active {
    background-color: black;
}

.comment-actions img {
    width: 16px;
    height: 16px;
    padding: 4px;
}

.comment-replies {
    width: calc(100% - 8px);
    max-height: 200px;
    overflow-y: scroll;
}
