.post {
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.post .post-image {
    width: 600px;
}

.post .post-image-link {
    height: 0px;
}

.post .post-actions {
    display: inline-block;
    width: 40px;
    height: 160px;
}

.post .post-actions button {
    text-decoration: none;
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 0px;
}

.post .post-actions .post-action-active {
    background-color: black;
}

.post .post-actions img {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.post .post-body {
    display: inline-block;
    vertical-align: top;
    width: 536px;
    padding: 10px;
}

.post .post-body .post-body-button {
    text-decoration: none;
    border: none;
    background-color: black;
    color: white;
    height: 20px;
}

.post .post-body .post-body-input {
    height: 16px;
    border: none;
}

.post .post-author {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.post .post-sub {
    color: #444;
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
    text-decoration: none;
}

.post .post-caption {
    font-size: 16px;
}

.post .post-comments {
    max-height: 400px;
    overflow-y: scroll;
}


.post ::-webkit-scrollbar {
    width: 8px;
}

.post ::-webkit-scrollbar-track {
    background: none;
}

.post ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}
