.post {
    background-color: white;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.post .post-image {
    width: 600px;
}

.post .post-image-link {
    height: 0px;
}

.post .post-actions {
    display: inline-block;
    width: 40px;
    height: 160px;
}

.post .post-actions button {
    text-decoration: none;
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 0px;
}

.post .post-actions .post-action-active {
    background-color: black;
}

.post .post-actions img {
    width: 24px;
    height: 24px;
    padding: 8px;
}

.post .post-body {
    display: inline-block;
    vertical-align: top;
    width: 536px;
    padding: 10px 10px 10px 2px;
}

.post .post-body .post-body-button {
    text-decoration: none;
    border: none;
    background-color: black;
    color: white;
    height: 20px;
}

.post .post-body .post-body-input {
    height: 16px;
    border: none;
}

.post .post-author {
    display: flex;
    text-decoration: none;
    padding-bottom: 8px;
}

.post .post-author .post-author-pfp {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.post .post-author .post-author-info {
    padding-left: 8px;
}

.post .post-author .post-author-nick {
    font-size: 24px;
    color: black;
}

.post .post-author .post-author-name {
    font-size: 16px;
    color: gray;
}

.post .post-info {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
    margin: 0px;
}

.post .post-info .post-info-likes {
    color: gray;
    text-decoration: none;
}

.post .post-caption {
    font-size: 16px;
}

.post .post-comments {
    max-height: 400px;
    overflow-y: scroll;
}


.post ::-webkit-scrollbar {
    width: 8px;
}

.post ::-webkit-scrollbar-track {
    background: none;
}

.post ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 4px;
}
