.profile {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.profile .profile-img {
    display: block;
    width: 320px;
    height: 320px;
}

.profile .profile-col1 {
    display: inline-block;
    vertical-align: top;
    width: 320px;
}

.profile .profile-col2 {
    display: inline-block;
    vertical-align: top;
    width: 480px;
}

.profile .profile-switch {
    border: none;
    background-color: white;
    width: 160px;
    height: 160px;
    display: inline-block;
    vertical-align: top;
}

.profile .profile-switch:hover {
    background-color: #eee;
}

.profile .profile-switch .profile-switch-title {
    font-size: 20px;
    margin: 0px;
}

.profile .profile-switch .profile-switch-subtitle {
    font-size: 32px;
    font-weight: bolder;
    margin: 0px;
}

.profile .profile-name {
    padding-left: 20px;
}

.profile .profile-nick {
    padding-left: 20px;
}

.profile .profile-bio {
    padding-left: 20px;
    white-space: pre-wrap;
}

.profile .profile-under-pfp {
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    width: 320px;
    line-height: 32px;
    text-align: center;
    border-radius: 0px 0px 4px 0px;
}

.profile .profile-post {
    display: inline-block;
    width: 266.666666px;
    height: 266.666666px;
    border: 1px solid black;
}
