.reply {
    display: inline-block;
    width: calc(100% - 40px);
    padding: 2px 8px 2px 32px;
}

.reply .comment-author {
    text-decoration: none;
    color: black;
}

.reply .comment-date {
    color: #888;
    font-size: 12px;
    font-weight: lighter;
}

.reply .comment-text {
    font-weight: lighter;
    font-size: 14px;
}
