.search {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.search .search-bar {
    border: none;
    padding: 0px;
    margin: 0px;
    width: 600px;
    height: 32px;
    font-size: 18px;
}

.search .search-button {
    text-decoration: none;
    border: none;
    display: inline-block;
    width: 200px;
    height: 32px;
    background-color: black;
    color: white;
    font-size: 18px;
}

.search .search-switch {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 32px;
    background-color: white;
    color: black;
}

.search #search-switch-active {
    background-color: black;
    color: white;
}
