.search {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.search .search-body {
    width: 760px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 32px;
}

.search .search-switch {
    position: absolute;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 8px solid black;
}

.search .search-switch-right {
    left: 400px;
}

.search #search-switch-active {
    background-color: white;
    color: black;
    border-bottom: 8px solid white;
}

.search .search-bar {
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
    width: 79%;
    height: 28px;
    font-size: 18px;
    border-radius: 8px 0px 0px 8px;
}

.search .search-button {
    text-decoration: none;
    border: none;
    display: inline-block;
    width: 20%;
    height: 32px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 0px 8px 8px 0px;
}
