.userlist {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
}

.userlist-item {
    width: 800px;
    height: 64px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.userlist-item .userlist-item-img {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.userlist-item .userlist-item-text {
    padding-left: 20px;
}

.userlist-item .userlist-item-nick {
    font-size: 24px;
    font-weight: bolder;
}

.userlist-item .userlist-item-name {
    color: gray;
}

.userlist hr {
    width: calc(100% - 16px);
    margin: 0 auto;
}
